
body {
  background-color: black;
}

.nav .container {
  margin-left: 0px;
}

.nav li {
  display: inline;
  font-family: 'Alegreya', serif;  
  padding-left: 10px;
  margin-left: 0px;
}
 
 a {
   color: white;
 }
.row {
  
}

.col-lg-12 {
  
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: 'Alegreya', serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
