
body {
  background-color: black;
}
.row {
  
}
.col-lg-12 {
  
}
h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: 'Alegreya', serif;
}

#logo {
  vertical-align: middle;
}
