
body {
  background-color: black;
}

.nav .container {
  margin-left: 0px;
}

.nav li {
  display: inline;
  font-family: 'Alegreya', serif;  
  padding-left: 10px;
  margin-left: 0px;
}

.container {
  padding: 10px;
  margin-left: 100px;
  margin-right: 20px;
  vertical-align: middle;
  
}
 
 a {
   color: white;
 }
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-lg-12 {
  
}

.thumbnail {
  height: 200px;
  width: 300px;
  border: 0px;
  background-color: black;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}

p {
  color: white;
  font-family: 'Alegreya', serif;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Alegreya', serif;
}

table, tr, td {
  border: 0px;
  background-color: black;
}

td {
  padding: 5px;
  color: white;
}

#left {
  padding-right: 7px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
